/* === Variable and mixins overides === */

/* === Custom variables and mixins === */

@mixin alertType($alert-border-color, $alert-bg-color) {
  width: 720px;
  height: auto;
  opacity: 1;
  border-radius: 4px;
  border: 2px solid $alert-border-color;
  border-left-width: 5px;
  background: $alert-bg-color;
}

/* === Bootstrap Import === */

@import "../../../node_modules/bootstrap/scss/alert";

/* === Custom styles === */

.alert-success {
  @include alertType(#26874a, #f5fcf8);
}

.alert-danger {
  @include alertType(#c93b3b, #fcf5f5);
}

.alert-info {
  @include alertType(#007bc7, #f5f9fc);
}

.alert-warning {
  @include alertType(#ffa82e, #fcf9f5);
}

.alert p,
.alert ol {
  margin-bottom: 0;
}

.alert ol {
  padding-left: 1.5rem;
}