/* === Variable and mixins overides === */

/* === Custom variables and mixins === */

/* === Bootstrap Import === */

@import "../../../node_modules/bootstrap/scss/alert";

/* === Custom styles === */

.alert {
  width: 720px;
  height: auto;
  opacity: 1;
  border-radius: 4px;
}

.alert-success {
  background: #f5fcf8;
  border: 2px solid #26874a;
  border-left-width: 5px;
}

.alert-danger {
  background: #fcf5f5;
  border: 2px solid #c93b3b;
  border-left-width: 5px;
}

.alert-info {
  background: #f5f9fc;
  border: 2px solid #007bc7;
  border-left-width: 5px;
}

.alert-warning {
  background: #fcf9f5;
  border: 2px solid #ffa82e;
  border-left-width: 5px;
}
